body {
  text-align: center;
}

#header {

}

.container-fluid.full-width {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}

#mainImg {

}

.name {
  /* position: relative;
  bottom: 245px;
  right: 15px; */
  font-family: 'Berkshire Swash', cursive;
}

.linkedinPortfolio {
  /* position: relative;
  right: 0px; */
  font-size: 27px;
  color: black;
  /* top: 85px; */
  font-family: 'Berkshire Swash', cursive;
}

.githubPortfolio {
  /* position: relative;
  right: 200px;
  bottom: 13px; */
  font-size: 27px;
  color: black;
  font-family: 'Berkshire Swash', cursive;
}

.headerDivider {
  border-top: 5px solid teal;
  /* position: relative;
  bottom: 100px; */
  z-index: 1;
}

main {
  font-family: 'Work Sans', sans-serif;
}

.portfolioTitle {
  /* position: relative; */
  /* bottom: 100px; */
  font-size: 50px;
  border: black 2px solid;
}

.tech {

}

.techTitle {

}

.techList {

}

.titleLink {
  /* position: relative;
  right: 250px;
  top: 155px; */
  color: teal;
  font-size: 20px;
}


.smallDivider {
	background-color: #fff;
	border-top: 5px dotted teal;
  /* position: relative;
  top: 0px;
  right: 0px; */
  width: 300px;
}

.projectImg {

}

.description {

}

.projectGithubLink {

}
/*//////////////////////// PSYCHE TRACKER /////////////////*/
#psyche {

}

#psycheTitleLink {

}

#psycheDivider {

}

#psycheImg {

}

#psycheDescription {

}

#psycheTech {

}

#psycheTechTitle {

}

#psycheTechList {

}

#psycheGithubLink {

}
/*//////////////////////// STAR TREK /////////////////*/
#starTrek {

}

#starTrekTitleLink {

}

#starTrekDivider {

}

#starTrekImg {

}

#starTrekDescription {

}

#starTrekTech {

}

#starTrekTechTitle {

}

#starTrekTechList {

}

#starTrekGithubLink {

}
/*//////////////////////// NEIGHBORFUL /////////////////*/
#neighborful {

}

#neighborfulTitleLink {

}

#neighborfulDivider {

}

#neighborfulImg {

}

#neighborfulDescription {

}

#neighborfulTech {

}

#neighborfulTechTitle {

}

#neighborfulTechList {

}

#neighborfulGithub {

}

#neighborfulDevelopers {

}

#neighborfulContributions {

}
